/*Variables de Color */
/* Decidi usar variables aqui arriba para no tener que memorizar los códigos de color en todo el archivo*/
:root {
    --fondo-general: #121212;
    --fondo-cajitas: #1e1e1e;
    --letras-blancas: #ffffff;
    --letras-grises: #b3b3b3;
    --rojo-cine: #e50914; /* Este es el rojo principal que uso para botones y detalles*/
    --rojo-brillante: #ff1e2a;
}

/*Reseteo básico*/
/* Uso esto para limpiar los márgenes que el navegador pone por defecto, El box-sizing es super importante para que los bordes y el padding no me deformen el tamaño de las cajas*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--fondo-general);
    color: var(--letras-blancas);
    line-height: 1.6;
}

/*Navegación*/
/* Con Flexbox logre separar el título del menu de forma fácil, empujandolos a los extremos*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #000000;
}

header a {
    color: var(--letras-blancas);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

header a:hover {
    color: var(--rojo-cine); /* Un pequeño detalle visual al pasar el mouse por los enlaces */
}


/* Le puse un degradado lineal para que no sea un bloque de color plano y se mezcle sutilmente con el fondo de la página */
.bienvenida {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to bottom, #2a2a2a, var(--fondo-general));
    margin-bottom: 40px;
}

/* Cuadrcula del Catalogo*/
/* Aqui apliqué CSS Grid para que las tarjetas se acomoden solas dependiendo de si veo la página en un monitor o celular */
.lista-peliculas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Hace que entren todas las columnas */
    gap: 30px; /* Espacio entre todas las tarjetas */
    padding: 0 50px 50px 50px;
}

/* Tarjetas de Peliculas*/
/* Les di bordes redondeados y uso overflow para que las esquinas de las fotos no rompan la forma de la tarjeta */
.cajita-peli {
    background-color: var(--fondo-cajitas);
    border-radius: 10px;
    overflow: hidden;
}

.cajita-peli:hover {
    /* Un efecto de sombra roja para que destaque cuando el usuario selecciona una pelicula */
    box-shadow: 0 10px 20px rgba(229, 9, 20, 0.2);
}

/* Imágenes del catálogo */
.foto-peli {
    width: 100%; 
    height: 350px; 
    object-fit: cover; /*Este comando me salvo la vida para recortar los posters limpiamente sin que se vean estirados ni deformes */
    display: block;
}

.textos-peli {
    padding: 20px;
    text-align: center;
}

.categoria {
    color: var(--letras-grises);
    font-size: 0.9em;
    margin-bottom: 15px;
}

/*Botones */
.boton-detalles, .boton-mandar {
    display: inline-block;
    background-color: var(--rojo-cine);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.boton-detalles:hover, .boton-mandar:hover {
    background-color: var(--rojo-brillante);
}

/*Estilos para la página de detalles */
/* Centro todo el contenido de la peli y le doy un tope de ancho para que no se estire demasiado en pantallas grandes */
.centro-detalles {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

/*Flexbox de nuevo, esta vez para alinear el poster grande a la izquierda y toda la sinopsis a la derecha. */
.info-junta {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

/*Imagen en la pgina de detalle */
.foto-grande {
    width: 300px;
    height: 450px;
    object-fit: cover; /*Mantengo la proporción de la imagen original */
    border-radius: 10px; 
    flex-shrink: 0; /*Evita que la foto se achique si hay mucho texto al lado */
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); /* Sombra mmas fuerte para que parezca que resalta de la pantalla */
}

/*Una pequeña etiqueta para que la calificación destaque del resto del texto */
.nota-estrellas {
    display: inline-block;
    background-color: #2a2a2a;
    padding: 5px 15px;
    border-radius: 20px;
    color: gold;
    margin: 10px 0 20px 0;
}

hr {
    border: 1px solid #333; /*Una línea separadora discreta para dividir la info de los comentarios */
    margin: 40px 0;
}

/*Formulario y Comentarios*/
.formulario-comentarios {
    background-color: var(--fondo-cajitas);
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

/*Organizo cada input en columna para que la etiqueta quede ordenadamente encima de su caja de texto correspondiente */
.cajita-pregunta {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.cajita-pregunta label {
    margin-bottom: 8px;
    color: var(--letras-grises);
}

/* cambie los inputs porque los estilos por defecto de HTML */
.cajita-pregunta input, .cajita-pregunta textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #2a2a2a;
    color: white;
    font-size: 1em;
}

.zona-comentarios {
    margin-top: 40px;
}

/*Diseño de cada comentario en el muro */
.comentario-usuario {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    border-left: 4px solid var(--rojo-cine); /* Un borde rojo a la izquierda para darle un toque a cada opinión */
    margin-bottom: 20px;
}

.nombre-y-nota {
    display: flex;
    justify-content: space-between; /*El apodo del usuario a la izquierda y sus estrellas a la derecha */
    margin-bottom: 10px;
}

.nota-usuario {
    color: gold;
    font-weight: bold;
}

/*Estilos para la Barra Lateral (Aside) y Pie de Página (Footer) */

.barra-lateral {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    color: var(--letras-blancas);
    text-align: center; /* Lo centramos para que quede bien debajo del catálogo */
    background-color: var(--fondo-cajitas);
    border-radius: 10px;
}

.titulo-secundario {
    color: var(--rojo-cine);
    margin-bottom: 15px;
}

.lista-esperadas {
    list-style-position: inside; /* Hace que los puntos de la lista se alineen bien al centro */
    color: var(--letras-grises);
}

.lista-esperadas li {
    margin-bottom: 8px;
}

.pie-pagina {
    background-color: #000000;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
}

.texto-pie {
    color: var(--letras-grises);
    margin-bottom: 10px;
}

/*estilos para los elementos del formulario */

.marco-formulario {
    border: 1px solid #444;
    padding: 20px;
    border-radius: 10px;
}

.titulo-formulario {
    color: var(--letras-blancas);
    font-weight: bold;
    padding: 0 10px;
}

.selector-desplegable {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #2a2a2a;
    color: white;
    font-size: 1em;
}

.grupo-radios {
    display: flex;
    gap: 15px;
    color: white;
    margin-top: 5px;
}

.grupo-botones {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.boton-limpiar {
    display: inline-block;
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.boton-limpiar:hover {
    background-color: #777;
}

